

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
}

body::-webkit-scrollbar {
    display: none;
    scroll-behavior: smooth;
}

.common-color {
    background-color:#598145;
}

.borderTest {
    border: 1px solid red
}

.header-section {
    height: 100vh;
    overflow: hidden;
}

.header-CarouselItems {
    height: 100vh;
    width: 100%;
}

.header-CaroselItemImage {
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: brightness(0.8);
}

.header-bookNowBtn {
    width: 400px;
    height: 50px;
    background-color:#598145;
    border-radius: 8px;
    color:#FFFFFF;
    margin-top: 1rem;
    border: none;
}

.header-icon-section{
    width: 25%;
    height: 3rem;
    position:absolute;
    top: 1px;
    left: 1rem;
    z-index: 1;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

}
.header-section-content-container {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    left: 7%;
}

.header-section-content-container p{
    text-align: left;
    margin-top: 1rem;
    margin-bottom: 1rem;
}




.header-bookNowBtn:hover {
    background-color: rgba(226, 218, 218, 0.9);
}

.about-section {
    height: 500px;
    background-color: #FFFFFF;
}



.divider-margin {
    margin-top: 3rem;
}

.carousel-indicators [data-bs-target] {
    width: 68px;
    height: 17px;
}

.aboutCardOne {
    height: 480px;
    margin: 5px;
    background-image: url('../images/Kerala-Ayurveda-Retreat.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
}

.aboutInfoContainer {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 5px;
    padding-left: 10px;
}

.aboutCardtwo {
    height: 480px;
    background-color: rgb(226, 218, 218);
    margin: 5px;
    border-radius: 10px;
    padding: 10px;
}

.aboutCardTwo_cardContainer {
    background-color: rgb(226, 218, 218);
    border: 0px;
    border-left: 5px solid #598145;
}

.about-condent-area {
    height: 14%;
}

.aboutCardTwo_imageContainer {
    width: 60%;
    height: 80px;
    overflow: hidden;
    padding: 0px;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 3px;
}

.aboutCardTwo_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0px;
    padding: 0px;
}

.about-cardSection {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.icon-button-container{
    width: 20rem;
    height: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    overflow: hidden;
}

.icon_container{
    width: 7rem;
    height: 4rem;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.icon-button{
    background-color: #FFFFFF;
    border: none;
    width: 15rem;
    height: 4rem;
    z-index: 1;
    border-radius: 20px;
    background-color: #598145;
    font-size: 12px;
    margin-left: -30px;
}

.btn:hover {
    background-color: #598145;
    opacity: 0.9;
}

.about-cardSectionCards {
    width: 100%;
    height: 270px;
    background-color: #D3D3D3;
    border: 0;
    border-radius: 10px;
}

.about-card-colum {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 280px;
}

.about-card {
    width: 100%;
    height: 90%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.align-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-card-header {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-radius: 6px;
    background-color: #E3963E;
    border: none;
    
}

.about-card-header-icon {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-card-header-title {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.about-card-header-title-text {
    font-size: 13px;
}

.about-card-body {
    width: 100%;
    height: 70%;
    padding: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-card-body-text {
    font-size: 14px;
    font-weight: 300;
    text-align: center;
}


/* ************** CARD SECTION CSS ************ */

.card_container {
    width: 100%;
    min-height: 60vh;
    max-height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card-background {
    background: linear-gradient(to top, #c4c5c7 0%, #dcdddf 52%, #ebebeb 100%);
    background-size: 400% 400%;
    -webkit-animation: AnimationName 11s ease infinite;
    -moz-animation: AnimationName 11s ease infinite;
    -o-animation: AnimationName 11s ease infinite;
    animation: AnimationName 11s ease infinite;
}

.card-header-container {
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-heading-text {
    color:#000000;
    font-weight: bold;

    
}

.custom-div_card {
    height: 400px;
}

.card-p-text {
    font-size: 9pt;
    font-weight:500;
    font-family: 'Montserrat', sans-serif;
}

.card-section2-p-text {
    font-size: 11px;
    font-weight: 500;
}

.card-section-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-section-img:hover {
    opacity: 0.6;
}


/*********** CARD SECTION CSS ***************/


/*********** REVIEW SECTION CSS *************/

.review-container {
    width: 100%;
    min-height: 85vh;
    max-height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.review-reviews-container {
    height: 68vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1px;
}

.review-reviews-header {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
}

.review-reviews-header-contents {
    width: 80%;
    height: 100%;
}

.review-reviews-header-icon {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.review-reviews-header-icon-msg-div {
    width: 70%;
    height: 25%;
    border: 1px solid#000000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.review-reviews-header-icon-msg-text {
    font-size: 12px;
}

.review-reviews-header-contents-text {
    color: #E3963E;
}

.reviews-header-contents-text {
    font-size: 11px;
}

.review-reviews-icon-container {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.review-reviews-reviews-section {
    width: 100%;
    height: 75%;
    display: flex;
    overflow-y: scroll;
    flex-direction: column;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    padding: 6px;
}

.review-reviews-reviews-section::-webkit-scrollbar {
    display: none;
}

.review-reviews-reviews-items-container {
    width: 100%;
    height: 15vh;
    padding: 5px;
    margin: 2px;
    display: flex;
    flex-direction: row;
    margin-top: 3px;
}

.review-reviews-reviews-items-user-container {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reviews-items-user-review-container {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.reviews-items-user-quotes-container {
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reviews-items-user-reviews {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    overflow-y: scroll;
    flex-direction: column;
    padding: 6px;
}

.reviews-items-user-reviews::-webkit-scrollbar {
    display: none;
}

.vedio-carousel-container {
    width: 100%;
    min-height: 100%;
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.vedio-iframe {
    width: 100%;
    height: 38rem;
    border-radius: 10px;
}



.hidden {
    display: none;
}

/*********** REVIEW SECTION CSS *************/


/*************** RECOGNITION CARD CSS *********/

.recognition-card {
    width: 190px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
}

.image-container {
    height: 75%;
}

.card-body-container {
    height: 25%;
    overflow: hidden;
}

.card_cards_icons {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.card_cards_contents {
    width: 80%;
    display: flex;
    height: auto;
}

.custom-card {
    width: 100%;
    height: 100%;
    padding: 3px;
    border-radius: 10px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.custom-div>div {
    width: 50%;
    padding: 20px;
}

.icon-container {
    height: 25%;
}

.custom-card img {
    width: 100%;
    height: 50%;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}

.custom-card .card-body {
    padding: 10px;
    /* Adjust padding as needed for the paragraph */
}

.custom-card p {
    padding: 10px;
    margin: 0;
    /* Remove default margin to avoid unwanted spacing */
    word-wrap: break-word;
    /* Wrap words to prevent overflow */
    overflow: hidden;
    /* Hide overflow content */
}

.review-Section {
    height: auto;
}

.reviewCardOne {
    width: 90%;
    height: 450px;
}

.reviewCardOne_header {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reviewCardOne_arrow {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reviewCardOne_body {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.reviewBody_reviewContainer {
    width: 100%;
    height: 50px;
}

.reviewBody_userImageContainer {
    width: 50%;
    height: 60%;
}

.reviewBody_userImage {
    width: 10;
}

.formsection {
    min-height: 80vh;
    max-height: auto;
}


/* FOOTER SECTION */

.footer {
    min-height: 10vh;
    max-height: auto;
}

.review-div {
    display: flex;
}

.review-child-1 {
    width: 20%;
}

.review-child-2 {
    width: 80%;
}

.review-image-container {
    text-align: center;
}

.image-container img {
    width: 80%;
    height: auto;
    max-height: 100%;
}

.review-quote-icon {
    font-size: 1.5rem;
    /* Adjust the font size as needed */
}

.RecognitionSection {
    min-height: 50vh;

}

.recognition-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40vh;
    /* Adjust the height as needed */
}

.recognition-inner-container {
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


/******** FOOTER SECTION ********/

.footer-contact-div {
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #FFFFFF;
}

.footer-contact-phone-div {
    height: 80%;
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer-social-media {
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #598145;
}


/******** FOOTER SECTION ********/

.con-card {
    display: flex;
    flex-direction: row;
    margin: 20px 20px 20px 20px;
    border: 1px solid gray;
    border-radius: 10px;
    justify-content: space-around;
    align-items: center;
    background-color: #FFFFFF;
}

.con-icon {
    height: 100px;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.con-icon button {
    width: 150px;
    margin-left: 10px;
    background-color: #598145;
}

.container-sm {
    font-size: 19px;
}


.footer-text {
    color: #5D6D7E;
    font-size: 15px;
}


.modal {
    --bs-modal-width: 80%;
}

.model-background {
    background-color: #598145;
    height: 80%;

}
.button-text{
    color: #598145;
    border: none;
}
.button-text:hover{
    opacity: 0.7!important;
    background-color:  #FFFFFF !important ;
    color: #598145;
}


.modal-closebuttonContianer {
    width: 50px;
    height: 50px;
    background-color: #8B0000;
    display: flex;
    justify-content: center;
    align-items: center;
    float: right !important;
    border: none;
    position: absolute;
    top: -20px;
    left: 98%;
}

.modal-header {
    display: flex;
    justify-content: end;
    align-items: flex-start;
    float: right !important;
}

.btn-close {
    color: #FFFFFF !important;
}

.modal-body {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.modal-bodyContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.modal-imageContainer {
    width: 50%;
    height: 60vh;
    padding: 10px;

}

.modal-image {
    width: 100%;
    height: 100%;
    background-image: url('../images/Panchakarma_Kerala.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: end
}

.modal-content-container {
    width: 50%;
    height: 60vh;
    padding: 5px;
    overflow-x: scroll;
}

.modal-content-container::-webkit-scrollbar {
    display: none;
    scroll-behavior: smooth;
}

.modal-content-container ul li {
    color: #FFFFFF;
    font-size: 13pt;
    font-weight: 300;
}

.modal-content-container ul li span {
    font-weight: bold;
}

.modal-FooterContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
    margin-top: 1rem;
    padding-right: 29%;
}

.modal-badge {
    padding: 1rem;
}

.modal-footer-contents p {
    color: white;
    text-align: center;
    font-weight: 400 !important;
    margin-top: 0.5rem;
}

#modalContent{
    display: flex !important;
    justify-content: center;
    align-items: center;
    flex-direction: row;


}
#image-div{
    width: 50%;
    height: 100%;
    padding: 5px;

}
#content-div{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;

    padding: 5px;
    overflow: scroll;
    color: white;
}
#content-div h4{
    font-weight: 600;
    font-size: 14pt;
}
#content-div p{
    font-weight: 400 !important;
    font-size: 12pt;
}
#content-div::-webkit-scrollbar{
    display: none;
}
.content-img{
    width: 100%;
    height: 100%;
}


.down-arrow-container{
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    
}

#down-arrow-icon{
    animation: bounce 2s infinite;
}

@keyframes bounce{
    0%,20%,50%,80%,100%{
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60%{
        transform: translateY(-15px);
    }
}



@media (max-width: 575.98px) {
    body {
        font-size: 13px;
    }
    .modal {
        width: 90%;
        max-height: 80%;
    }

    .modal-closebuttonContianer {
        width: 30px;
        height: 30px;
        background-color: #8B0000;
        display: flex;
        justify-content: center;
        align-items: center;
        /* float: right !important; */
        border: none;
        position: relative;
        top: 10px;
        left: 50%;
        margin-bottom: 20px;
    }

    .header-bookNowBtn {
        width: 100px;
        height: 30px;
        background-color: rgba(0, 0, 0, 0.1);
        border: 1px solid white;
        border-radius: 8px;
        color: white;
    }

    .about-section {
        height: 1000px;
        background-color: rgb(242, 236, 236);
    }

    .about-cardSection {
        height: 1450px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 7px;
    }

    .cardContainer {
        width: 100%;
        height: 1100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card_heder_text {
        font-size: 15px;
    }

    .footer-contact-div {
        height: 60%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background-color: #FFFFFF;
    }

    .footer-contact-phone-div {
        height: 80%;
        width: 60%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .card-header-text {
        font-size: 10px;
    }

    .colum-margin {
        margin-bottom: 2rem;
    }

    .review-text {
        display: none;
    }

    .vedio-carousel-gap {
        margin-top: 2rem
    }

    .RecognitionSection {
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .con-card {
        display: flex;
        flex-direction: column;
    }

    .footer-contact-div {
        height: 60%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background-color: var(--#FFFFFF);
    }

    .footer-contact-phone-div {
        height: 80%;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .image-footer-header h1 {
        font-size: 8pt;
    }

}

@media (min-width: 576px) and (max-width: 767.98px) {
    body {
        font-size: 16px;
    }
    .modal {
        --bs-modal-width: 50%;
    }
    .header-section{
        min-height: 100vh;
        max-height: auto;
        overflow: scroll;
        border: 1px solid red;
    }

    .header-icon-section{
        width: 25%;
        height: 1rem;
        position:absolute;
        top: 1px;
        left: 6rem;
        z-index: 1;
        padding: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
    
    }

    .about-section {
        height: 1000px;
        background-color: rgb(242, 236, 236);
    }

    .about-cardSection {
        height: 1390px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .cardContainer {
        width: 100%;
        height: 1100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .flex-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .flex-item {
        width: 19%;
        /* 100% / 5 columns - a little buffer for spacing */
        margin-bottom: 10px;
    }

    .card_heder_text {
        font-size: 15px;
    }

    .colum-margin {
        margin-bottom: 20px;
    }

    .review-text {
        display: none;
    }

    .vedio-carousel-gap {
        margin-top: 3rem;
    }

    .text-font {
        font-size: 10px;
    }

    .footer-contact-div {
        height: 60%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background-color: #FFFFFF;
    }

    .footer-contact-phone-div {
        height: 80%;
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .image-footer-header h1 {
        font-size: 12pt;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    body {
        font-size: 18px;
    }
    .header-icon-section{
        width: 25%;
        height: 3rem;
        position:absolute;
        top: 1px;
        left: 3rem;
        z-index: 1;
        padding: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
    
    }

    .about-card-body-text {
        font-size: 10px;
    }

    .about-card-header-title-text {
        font-size: 10px;
    }

    .about-card-header-title-smaller-text {
        font-size: 7px;
    }

    .about-card-body-text {
        font-size: 8px;
    }

    .footer-contact-div {
        height: 60%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background-color: #FFFFFF;
    }

    .footer-contact-phone-div {
        height: 80%;
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .modal {
        --bs-modal-width: 80%;
    }

}

@media (min-width: 992px) and (max-width: 1199.98px) {
    body {
        font-size: 20px;
    }

    .about-card-body-text {
        font-size: 10px;
    }

    .about-card-header-title-text {
        font-size: 12px;
    }

    .about-card-header-title-smaller-text {
        font-size: 7px;
    }
}

@media (min-width: 1200px) {
    body {
        font-size: 22px;
    }
}